<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="SiteMaster.master.cs" Inherits="DinamicWeb.SiteMaster" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Dinamic-Web</title>
    <%-- Referencias CSS --%>


    <link href="asset/bootstrap-5.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="asset/Fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="asset/SweeAlert/sweetalert.min.css" rel="stylesheet" />
</head>
<body>
    <form id="frmSiteMaster" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            <%-- Aquí se renderizan los Formularios --%>
            </asp:ContentPlaceHolder>
        </div>
    </form>
    <%-- Referencias JS --%>
    <script src="asset/JQuery/jquery.min.js"></script>
    <script src="asset/bootstrap-5.2.0/js/bootstrap.min.js"></script>
    <script src="asset/SweeAlert/sweetalert.all.min.js"></script>
    <script src="asset/SweeAlert/sweetAlertStyle.js"></script>
</body>
</html>
